.App {
  font-family: sans-serif;
  text-align: center;
  margin: 5px auto;
}
button {
  background-color: rgb(15, 105, 15);
  color: white;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}
button:hover {
  background-color: white;
  outline: 2px solid green;
  color: green;
  font-weight: bold;
}
li {
  list-style: none;
  padding: 3px;
  width: 70%;
  margin: 5px auto;
}
li:nth-child(odd) {
  background-color: rgb(164, 247, 164);
}
li:nth-child(even) {
  background-color: rgb(217, 221, 217);
}
